.container{
    margin-top: 10px;
}
legend{
    text-align: center;
}
fieldset{
    width: 75%;
    margin-left: 10%;
}
#login, #signup{
    margin: 10px;
    text-decoration: none;
    color: black;
}